@import url("https://fonts.cdnfonts.com/css/snap-itc");
#container {
  display: grid;
  grid-template-areas: "usernameDisplay header header header header header header header header header header logout" "nav nav  nav nav nav nav nav nav nav nav nav nav" "announce announce announce announce announce announce announce announce announce announce announce announce" "canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas canvas" "playAgainButton playAgainButton playAgainButton playAgainButton playAgainButton playAgainButton playAgainButton playAgainButton playAgainButton playAgainButton playAgainButton playAgainButton" "registeration registeration registeration registeration registeration registeration registeration registeration registeration registeration registeration registeration" "section section section  section section section section section section section section section" "ruth ruth ruth ruth ruth ruth donald donald donald donald donald donald" "aboutRuth aboutRuth aboutRuth aboutRuth aboutRuth aboutRuth aboutDonald aboutDonald aboutDonald aboutDonald aboutDonald aboutDonald" "register register register register register register register register register register register register" "regiserForm regiserForm regiserForm regiserForm regiserForm regiserForm regiserForm regiserForm regiserForm regiserForm regiserForm regiserForm" "Git Git Git Git Git Git Git Git Git Git Git Git ";
  width: 95%;
  margin: 10px auto;
}

body {
  font-family: "Snap ITC", Arial, sans-serif;
  background-image: url("../Images/background.png");
}

nav {
  font-family: "Snap ITC", Arial, sans-serif;
  font-size: 30px;
  grid-area: nav;
  padding: 20px;
  text-align: center;
  top: 10px;
  position: relative;
}

nav img[alt~=boat] {
  display: block;
  margin: 0 auto;
  height: 80px;
  width: auto;
}

nav img[alt~=helmet] {
  display: block;
  margin: 0 auto;
  height: 80px;
  width: auto;
}

nav span {
  display: block;
  margin-top: 5px;
}

nav ul {
  padding: 0;
}

nav li {
  display: inline-block;
  list-style-type: none;
  margin-right: 1.5em;
}

nav li a {
  color: black;
  text-decoration: none;
}

header {
  grid-area: header;
  text-align: center;
  font-size: 70px;
}

#canvas {
  grid-area: canvas;
  border: 5px solid black;
  box-sizing: border-box;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 780px;
  height: 780px;
}

section {
  grid-area: section;
  background-image: url("../Images/scroll.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
}

section .centered {
  margin-top: 15%;
  margin-bottom: 5%;
  text-align: center;
  font-size: 50px;
}

section .paragraph {
  margin: 0.7% 15%;
  font-size: 35px;
  font-family: "Times New Roman", Times, serif;
}

section .basic {
  margin: 0.7% 15%;
  font-size: 35px;
  font-family: "Times New Roman", Times, serif;
}

.btn {
  background: #452e2e;
  background-image: linear-gradient(to bottom, #452e2e, #633f3f);
  border-radius: 60px;
  font-family: "Snap ITC", Arial, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 26px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  width: 300px;
  margin: 10px;
}

.btn3 {
  background: #452e2e;
  background-image: linear-gradient(to bottom, #452e2e, #633f3f);
  border-radius: 60px;
  font-family: "Snap ITC", Arial, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 26px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  width: 150px;
  margin: 10px;
}

.btn3:hover {
  background: #000000;
  text-decoration: none;
}

.btn:hover {
  background: #000000;
  text-decoration: none;
}

.btn1 {
  background: #452e2e;
  background-image: linear-gradient(to bottom, rgb(145, 111, 111), rgb(107, 81, 81));
  border-radius: 60px;
  font-family: "Snap ITC", Arial, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 26px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  width: 150px;
  margin: 10px;
}

.btn1:hover {
  background: #000000;
  text-decoration: none;
}

.register {
  grid-area: register;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 20px;
  padding: 90px;
  text-align: center;
}

.registeration {
  grid-area: registeration;
  font-size: 20px;
}

.regiserForm {
  grid-area: regiserForm;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(250, 235, 215, 0.7);
  padding: 50px;
}

.regiserForm label {
  margin-top: 10px;
  margin-bottom: 5px;
}

.regiserForm input {
  width: 400px;
  height: 30px;
}

.regiserForm button {
  margin-top: 10px;
  margin-bottom: 5px;
}

.ruth {
  display: grid;
  grid-area: ruth;
  background-color: rgb(255, 255, 255);
  color: #452e2e;
  margin: 10px 10px 10px 10px;
  text-align: center;
}

.donald {
  display: grid;
  grid-area: donald;
  background-color: #452e2e;
  color: rgb(255, 255, 255);
  margin: 10px 10px 10px 10px;
  text-align: center;
}

.aboutDonald {
  display: grid;
  grid-area: aboutDonald;
  margin: 10px 10px 10px 10px;
  background-color: rgba(250, 235, 215, 0.7);
  font-family: "Times New Roman", Times, serif;
  padding: 10px 35px;
  font-size: 35px;
}

.aboutRuth {
  display: grid;
  grid-area: aboutRuth;
  margin: 10px 10px 10px 10px;
  background-color: rgba(251, 219, 178, 0.7);
  font-family: "Times New Roman", Times, serif;
  padding: 10px 35px;
  font-size: 35px;
}

.aboutme {
  font-size: 55px;
}

.logout {
  grid-area: logout;
  width: 50px;
  height: 50px;
  background: #452e2e;
  background-image: linear-gradient(to bottom, #452e2e, #633f3f);
  border-radius: 60px;
  font-family: "Snap ITC", Arial, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 26px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  width: 150px;
  margin: 10px;
  font-family: "Times New Roman", Times, serif;
}

#usernameDisplay {
  grid-area: usernameDisplay;
  color: rgb(255, 255, 255);
  text-shadow: 8px 8px #000000;
  font-size: 40px;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(250, 235, 215, 0.7);
  padding: 100px;
  font-size: 30px;
}

.popup-content input {
  width: 400px;
  height: 80px;
  margin-bottom: 20px;
  font-size: 30px;
}

.close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.Git {
  grid-area: Git;
}

.Git img[alt~=King] {
  display: block;
  margin: 0 auto;
  height: 500px;
  width: auto;
  margin-top: 50px;
}

.github {
  text-align: center;
}

#solid {
  background-color: rgba(250, 235, 215, 0.7);
  background-image: none;
  background-size: contain;
  width: 100%;
  height: auto;
  padding-bottom: 40px;
}

#solid .basic {
  font-size: 35px;
}

#solid .paragraph {
  font-size: 55px;
}

@media only screen and (max-width: 840px) {
  :root {
    --custom-dimension: 390px;
  }
  #canvas {
    width: var(--custom-dimension);
    height: var(--custom-dimension);
  }
  #container {
    display: grid;
    grid-template-areas: "usernameDisplay header logout" "nav nav nav" "announce announce announce" "canvas canvas canvas" "section section section" "registeration registeration registeration" "register register register" "regiserForm regiserForm regiserForm " "ruth ruth ruth" "aboutRuth aboutRuth aboutRuth" "donald donald donald" "aboutDonald aboutDonald  aboutDonald" "Git Git Git Git";
    width: 100%;
  }
  section {
    grid-area: section;
    background-image: none;
    background-repeat: no-repeat;
    color: rgb(63, 56, 13);
    background-color: rgba(250, 235, 215, 0.7);
  }
  section .centered {
    margin-top: 5%;
    text-align: center;
    font-size: 50px;
  }
  nav {
    grid-area: nav;
  }
  #canvas {
    grid-area: canvas;
  }
  #anounce {
    grid-area: announce;
  }
  .rock {
    display: none;
  }
  .registeration {
    grid-area: registeration;
  }
  .register {
    grid-area: register;
  }
  .announce .ruth {
    display: grid;
    grid-area: ruth;
  }
  .aboutRuth {
    display: grid;
    grid-area: aboutRuth;
  }
  .donald {
    display: grid;
    grid-area: donald;
  }
  .aboutDonald {
    display: grid;
    grid-area: aboutDonald;
  }
  .regiserForm {
    grid-area: regiserForm;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(250, 235, 215, 0.7);
    padding: 50px;
  }
  .regiserForm label {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .regiserForm input {
    width: 400px;
    height: 30px;
  }
  .regiserForm button {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .logout {
    grid-area: logout;
  }
  #usernameDisplay {
    grid-area: usernameDisplay;
    color: #452e2e;
  }
  .Git {
    grid-area: Git;
  }
  .Git img[alt~=King] {
    display: block;
    margin: 0 auto;
    height: 300px;
    width: auto;
    margin-top: 50px;
  }
}
#announce {
  text-align: center;
  grid-area: announce;
}

#playAgainButton {
  display: none;
  grid-area: playAgainButton;
  align-self: center;
  justify-self: center;
  background: #452e2e;
  background-image: linear-gradient(to bottom, rgb(145, 111, 111), rgb(107, 81, 81));
  border-radius: 60px;
  font-family: "Snap ITC", Arial, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 26px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  width: 150px;
  margin: 10px;
}/*# sourceMappingURL=style.css.map */